/.conda_PALMPaint
/__pycache__
/base/__pycache__
/tests/__pycache__
/.pytest_cache
quicksave
quicksave*
/palmpaint_venv
/Files
/Architektur_Idee.txt

# Test & temporary files
*.nc
*.zip
report.txt
test
testimctest
Blitzprojekt_N03

# Python virtual environments
/venv
/.venv
