/.conda_PALMPaint
/__pycache__
/base/__pycache__
/tests/__pycache__
/.pytest_cache
quicksave
quicksave*
/palmpaint_venv
/Files

# Test & temporary files
/tmp
*.nc
*.zip
report.txt
test

# Python virtual environments
/venv
/.venv
